* {
    box-sizing: border-box;
  }
  
  body {

    background-image: url("background.JPG");
    min-height: 100%;
    font-family: Helvetica, sans-serif;
  }
  
  .page1{
      background-image: url("background.JPG");
  }
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* 
  Style the links inside the navigation bar
   */
   .topnav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
   }
  
   /* Change the color of the links on hover */ 
   .topnav a:hover {
     background-color: #ddd;
     color: #617073;
  
   }
  
   .topnav a.active { 
     background-color: #FFB6C1;
     color: white;
   }
  
  /* 
      Style iframes.
  */
  iframe {
      width:100%;
      height:100%;
      border: dotted;
  }
  
  
  .container {
    display: flex;
  }
    .itemhead {
      background: #374B4A;
      flex-grow: 1;
      height: 300px;
      margin: 5px 
    }
  
    .item {
      background: #E4E3D3;
      flex-grow: 1;
      height: 100%;
      width: 40%;
      text-size-adjust: auto;
  }
    .item2 {
      background: #F5F9E9;
      flex-grow: 1;
      height: 700px;
      margin: 5px;
      text-size-adjust: auto;
    }
  
    .itemsmall {
      background: #F5F9E9;
      flex-grow: 1;
      height: 200x;
      margin: 5px;
      border: #374B4A solid;
      text-size-adjust: auto;
    }
  
  .flex-container {
      display: flex;
    }
  
  .flex-child {
    flex:1;
    border: 2px solid #FFB6C1;
  }
  
  .flex-child:first-child {
    margin-right: 20px;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
  
  /* 
      The imported font should be applied to all body text.
  */
  body {
      font-family: 'Noto Sans SC', sans-serif;
      color: #374B4A;
      font-size: large;
      line-height: 1.5;
  }
  
  .testimonal {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  
  .testimonal::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .testimonal img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .testimonal span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .testimonal {
        text-align: center;
    }
    .testimonals img {
        margin: auto;
        float: none;
        display: block;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .tcontainer {
    padding: 10px 40px;
    position: relative;
    background-color: #6E9075;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .tcontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .tcontainer {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .tcontainer::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }